**Q : Lire le fichier 'Category.csv ?**

In [11]:
import pandas as pd
import numpy as np
import os
import sys
import random
df = pd.read_table('Category.csv',sep=',')
pd.set_option('max_rows',10)
pd.set_option('max_columns',10)

In [12]:
os.getcwd()

'C:\\Users\\Raed\\DATA'

In [13]:
df.dtypes

country                          object
beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
continent                        object
dtype: object

In [15]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 6 columns):
country                         193 non-null object
beer_servings                   193 non-null int64
spirit_servings                 193 non-null int64
wine_servings                   193 non-null int64
total_litres_of_pure_alcohol    193 non-null float64
continent                       193 non-null object
dtypes: float64(1), int64(3), object(2)
memory usage: 30.4 KB

**Q : Calculer la taille mémoire occupée par les cols 'continent' et 'country' ?**

In [4]:
df.memory_usage(deep=True)

Index                              80
country                         12588
beer_servings                    1544
spirit_servings                  1544
wine_servings                    1544
total_litres_of_pure_alcohol     1544
continent                       12332
dtype: int64

In [5]:
df.memory_usage()
#df.info()

Index                             80
country                         1544
beer_servings                   1544
spirit_servings                 1544
wine_servings                   1544
total_litres_of_pure_alcohol    1544
continent                       1544
dtype: int64

In [6]:
df.country.memory_usage(deep = True)

12668

In [7]:
df.country.memory_usage()

1624

In [8]:
sys.getsizeof(df.country)

12692

In [9]:
df.country.memory_usage(deep = True)

12668

In [10]:
df.country.memory_usage()

1624

In [11]:
sys.getsizeof(df.continent)

12436

In [12]:
df.continent.memory_usage(deep=True)

12412

**Q : Triez la col 'continent' et 'country' ds 1ordre alphabétique croissant et lister pr chacune leur modalités (uniques) ?**  
**Q : Quelle est la différence entre sorted et sort_values ?**

In [13]:
pd.value_counts(df.continent)

Africa           53
Europe           45
Asia             44
North America    23
Oceania          16
South America    12
Name: continent, dtype: int64

In [14]:
df.continent.sort_values()

96            Africa
104           Africa
101           Africa
100           Africa
97            Africa
           ...
23     South America
37     South America
6      South America
185    South America
20     South America
Name: continent, Length: 193, dtype: object

In [15]:
#sorted returns  another list containin all the elements sorted and does not modify the orignial list
sorted(df.continent)

['Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'North America',
 'North America',
 'North America',
 'North America',
 'North America',
 'North America',
 'North America',
 'North America',
 'North America',
 'North America',
 'North America',
 'North America',
 'North America',
 'North America',
 'North America',
 'North America',
 'North America',
 'North America',
 'North America',
 'North America',
 'North America',
 'North America',
 'North America',
 'Oceania',
 'Oceania',
 'Oceania',
 'Oceania',
 'Oceania',
 'Oceania',
 'Oceania',
 'Oceania',
 'Oceania',
 'Oceania',
 'Oceania',
 'Oceania',
 'Oceania',
 'Oceania',
 'Oceania',
 'Oceania',
 'South America',
 'South America',
 'South America',
 'South America',
 'South America',
 'South America',
 'South America',
 'South America',
 'South America',
 'South America',
 'South America',
 'South America']

In [16]:
#it sorts by values
df.sort_values(by='continent')

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
96,Liberia,19,152,2,3.1,Africa
104,Mali,5,1,1,0.6,Africa
101,Malawi,8,11,1,1.5,Africa
100,Madagascar,26,15,4,0.8,Africa
97,Libya,0,0,0,0.0,Africa
...,...,...,...,...,...,...
23,Brazil,245,145,16,7.2,South America
37,Colombia,159,76,3,4.2,South America
6,Argentina,193,25,221,8.3,South America
185,Uruguay,115,35,220,6.6,South America
20,Bolivia,167,41,8,3.8,South America

In [25]:
df.continent.sort_values().unique()
#type(df.continent.sort_values())

array(['Africa', 'Asia', 'Europe', 'North America', 'Oceania',
       'South America'], dtype=object)

**Q : Convertir les cols 'continent' et 'count
ry' en type 'category' et mesurer la taille mémoire occupée par chacune ?**  
**Comparer les tailles avant/après et expliquer la 'surprise obtenue' avec la col 'country' ?**

In [33]:
df['continent'] = df.continent.astype('category')
df['country'] = df.country.astype('category')
df.dtypes

country                         category
beer_servings                      int64
spirit_servings                    int64
wine_servings                      int64
total_litres_of_pure_alcohol     float64
continent                       category
dtype: object

In [34]:
sys.getsizeof(df.country)

18198

In [35]:
# df.continent.head()
df.country.head()

0    Afghanistan
1        Albania
2        Algeria
3        Andorra
4         Angola
Name: country, dtype: category
Categories (193, object): [Afghanistan, Albania, Algeria, Andorra, ..., Vietnam, Yemen, Zambia, Zimbabwe]

In [36]:
df.continent.cat.codes.head()

0    1
1    2
2    0
3    2
4    0
dtype: int8

**Q : Cmnt fonctionne le type 'category' ? Pr cela, testez les commandes suivantes**

In [37]:
df.continent.cat.codes.head()

0    1
1    2
2    0
3    2
4    0
dtype: int8

In [38]:
df.country.cat.codes.head()

0    0
1    1
2    2
3    3
4    4
dtype: int16

In [39]:
df.continent.cat.categories

Index(['Africa', 'Asia', 'Europe', 'North America', 'Oceania',
       'South America'],
      dtype='object')

In [40]:
df.country.cat.categories

Index(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua & Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria',
       ...
       'United Arab Emirates', 'United Kingdom', 'Uruguay', 'Uzbekistan',
       'Vanuatu', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype='object', length=193)

In [41]:
df.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

**Maîtriser le type 'category'**  
**Q : Transformer ce dico en df et trier le df selon la col 'quality' ds 1ordre croissant (et inversement) ?**  
dico = {'ID':[100, 101, 102, 103], 'quality':['good', 'very good', 'good', 'excellent']}

In [42]:
dico = {'ID':[100, 101, 102, 103], 'quality':['good', 'very good', 'good', 'excellent']}
dff = pd.DataFrame(dico)
dff.sort_values('quality',ascending=False)

    ID    quality
1  101  very good
0  100       good
2  102       good
3  103  excellent

In [44]:
t = pd.api.types.CategoricalDtype(categories =['good','very good','excellent'], ordered=True)
dff['quality'] = dff.quality.astype(t)
dff.quality
dff.sort_values('quality')

    ID    quality
0  100       good
2  102       good
1  101  very good
3  103  excellent

**Q : Slicez le df pr obtenir que les données dont la col 'quality' indique 'very good' et 'excellent' ?**

In [45]:
dff.loc[dff.quality > 'good', :]

    ID    quality
1  101  very good
3  103  excellent

**Q : Revenez sur le fichier games_logs.csv et convertir les col adéquates en Category ?**

In [48]:
dfff = pd.read_table('game_logs.csv',sep=',',low_memory=False)

In [49]:
dfff.head()

,date,number_of_game,day_of_week,v_name,v_league,...,h_player_9_id,h_player_9_name,h_player_9_def_pos,additional_info,acquisition_info
0,18710504,0,Thu,CL1,na,...,kellb105,Bill Kelly,9.0,NaN,Y
1,18710505,0,Fri,BS1,na,...,berth101,Henry Berthrong,8.0,HTBF,Y
2,18710506,0,Sat,CL1,na,...,stirg101,Gat Stires,9.0,NaN,Y
3,18710508,0,Mon,CL1,na,...,zettg101,George Zettlein,1.0,NaN,Y
4,18710509,0,Tue,BS1,na,...,cravb101,Bill Craver,6.0,HTBF,Y

In [50]:
test = list(dfff.select_dtypes(include='object'))
#test

In [51]:

def test(dfff):
    for col in dfff.select_dtypes(include='object'):
        if dfff[col].nunique() <= 7:
            dfff[col] = dfff[col].astype('category')
test(dfff)

In [52]:
def test():
    for i in dfff.select_dtypes(include='object'):
        if dfff[i].nunique() <= 7:
            dfff[i] = dfff[i].astype('category')
test()

**Q : Est-ce qu'on doit convertir la col 'date' de games_logs.csv en type datetime ?**

**Q : Approfondir les méthodes de tri de df ?**
http://cmdlinetips.com/2018/02/how-to-sort-pandas-dataframe-by-columns-and-row/

In [53]:
#choose randamly a student to to do the ex:
import random
def eleve():
    students =['Alex','Corentin','Romain','John','Kerian','Kevin','Ludovic','Najoua','Nicolas','Raed','William','Benjamin','Maxime','Eva','Laura','Myrtille','Nassim','Salima','Thomas','Imed']  
    select = random.randint(0,len(students)-1)
    return(students[select])
    
eleve()

'Laura'