**Q : Améliorer l'algo de tirage aléatoire pr qu'il soit de tel sorte  :** 
- **Si un des apprenants participe, il n'aura pas à participer de nouveau (en attendant que ts les autres apprenants participent aussi) ?**
- **De renouveller le cycle lorsque tout le monde ait participé ?**

**Q : Lire le fichier Dummies.csv (tjrs à l'aide de la fonc générique mis au point et stocké ds le script startup.py) ?**

In [35]:
import pandas as pd
import numpy as np
import os

my_path = r"C:\Users\Raed\DATA"
if not os.path.exists(my_path):
    os.makedirs(my_path)

if os.getcwd() != my_path :
    os.chdir(my_path)
print(my_path)

pd.set_option("expand_frame_repr",False)
pd.options.display.max_rows=16#limite l'affiche dans des cols
pd.options.display.max_columns=10
pd.set_option('colheader_justify', 'left')#alignement de titles
pd.set_option('precision',3)#nombres apres le . ## numero 0.1234567
pd.set_option('max_colwidth',12)#limiter l'affichage des phrases par exemple dans une cellule

df = pd.read_table('Dummies.csv', sep = ',', nrows=5)

C:\Users\Raed\DATA

In [36]:
df

   PassengerId  Survived  Pclass Name         Sex        ...     Parch  Ticket       Fare   Cabin  Embarked
0  1            0         3       Braund, ...    male    ...     0        A/5 21171   7.250   NaN  S
1  2            1         1       Cumings,...  female    ...     0         PC 17599  71.283   C85  C
2  3            1         3       Heikkine...  female    ...     0      STON/O2....   7.925   NaN  S
3  4            1         1       Futrelle...  female    ...     0           113803  53.100  C123  S
4  5            0         3       Allen, M...    male    ...     0           373450   8.050   NaN  S

[5 rows x 12 columns]

In [37]:
list_case = [
        "camel",
        "camelCase",
        "CamelCase",
        "CAMELCASE",
        "camelcase",
        "Camelcase",
        "Case"
        ]

**Q : Tester si chaque élément de la liste suivante comporte des maj et en miniscule (à la fois) ?**

In [38]:
#not word.islower() and not word.isupper() :
list_case = [
        "camel",
        "camelCase",
        "CamelCase",
        "CAMELCASE",
        "camelcase",
        "Camelcase",
        "Case"
        ]

for word in list_case :
    if word.islower() :
        print(word + " est lower")
    elif word.isupper() :
        print(word + " est upper")
    else :
        print(word + " est lower et upper")

camel est lower
camelCase est lower et upper
CamelCase est lower et upper
CAMELCASE est upper
camelcase est lower
Camelcase est lower et upper
Case est lower et upper

**Q : Quelle est le format d'écriture des noms des vars (PassengerId, Pclass, SibSp) ?** Indice : lower case, camel case, pascal case,... ?  
Obj final : Maîtriser ces diff case (camel, pascal,...) pr avoir le même jargon des développeurs !

camel case : première lettre est en bas-de-casse
pascal case : commençant par une capitale

A ce stade, comme petite application ns allons appliquer ces notions de case aux noms des cols du df. L'idée est de détecter automtq la casse des noms des cols. En fait, ns allons vu jusqu'à maintenant qu'il vaut mieux mettre tt en miniscule et de remplacer les espaces par '_'.   
Par exemple : 'Passenger Id' => 'passenger_id'  
Or 'Passenger Id' s'écrit maintenant 'PassengerId'. Du coup, si on applique notre méthode (sans faire attention) 'PassengerId' devient 'passengerid' (ce que ns souhaitons éviter parcq le nom du col devient illisible).  
**Q : Créer 1fonc qui permet de détecter si les noms des cols s'écrit sous la forme 'PassengerId' ou 'Passenger Id' ?**  
- Si c'est le cas de 'Passenger Id', du coup on applique notre méthode (lower(), replace(' ', '_'))
- Si c'est le cas de 'PassengerId', on ne fait rien.
Sauvegarder la fon ds le script startup.py (pr l'utiliser au besoin).

In [39]:
def espace(liste):
    for word in liste:
        if ' ' in word:
            print (True)
        else:
            print (False)

In [40]:
espace(list_case)

False
False
False
False
False
False
False

In [41]:
def check(liste):
    liste_vide = []
    for word in liste:
        if ' ' in word:
            liste_vide.append(word.replace(' ','_').lower())
        else:
             liste_vide.append(word.lower())
    return liste_vide

In [42]:
check(list_case)

['camel',
 'camelcase',
 'camelcase',
 'camelcase',
 'camelcase',
 'camelcase',
 'case']

**Q : Créer également 1fonc qui permet de renommer les cols de tel sorte PassengerId devient z0_PassengerId, z1_Survived,..., z11_Embarked ?**  
Remarquer maintenant que l'autocomplétion des noms des vars devient plus pratique !

In [43]:
ma=len(str(df.shape[1]))+1
liste=[]
compteur = 0
for col in df.columns:
    col=("z{:0{}}_{}".format(compteur,ma,col))
    liste.append(col)
    compteur +=1  
df.columns=liste
df.columns

Index(['z000_PassengerId', 'z001_Survived', 'z002_Pclass', 'z003_Name',
       'z004_Sex', 'z005_Age', 'z006_SibSp', 'z007_Parch', 'z008_Ticket',
       'z009_Fare', 'z010_Cabin', 'z011_Embarked'],
      dtype='object')

In [44]:
df.columns.tolist()

['z000_PassengerId',
 'z001_Survived',
 'z002_Pclass',
 'z003_Name',
 'z004_Sex',
 'z005_Age',
 'z006_SibSp',
 'z007_Parch',
 'z008_Ticket',
 'z009_Fare',
 'z010_Cabin',
 'z011_Embarked']

In [57]:
#-> plus rapide
df.columns.values.tolist()

['z000_PassengerId',
 'z001_Survived',
 'z002_Pclass',
 'z003_Name',
 'z004_Sex',
 'z005_Age',
 'z006_SibSp',
 'z007_Parch',
 'z008_Ticket',
 'z009_Fare',
 'z010_Cabin',
 'z011_Embarked']

**Obj final : Créer 1fonc générique qui permet d'optimiser la taille mémoire consommée par le df (en allouant aux cols les meilleurs types possibles : int8, uint8, categorical,...) ? Vs pouvez stocker cette fonc ds le script startup.py (et l'utiliser au besoin).**
- Appliquer votre fonc au df (créer une copie "df1", n'écraser pas le df initial) ? Rajouter "1" aux noms des cols df1, exemple 'z0_PassengerId' => 'z0_PassengerId1' (afin de ne pas se perdre entre les cols de chaque df).

In [48]:
df1 = df
df1
index_list = df1.columns.values.tolist()
index_list 
for i in range (0,len(index_list)):
    index_list[i] = index_list[i]+'1'
df1.columns = index_list
df1.columns

Index(['z000_PassengerId1', 'z001_Survived1', 'z002_Pclass1', 'z003_Name1',
       'z004_Sex1', 'z005_Age1', 'z006_SibSp1', 'z007_Parch1', 'z008_Ticket1',
       'z009_Fare1', 'z010_Cabin1', 'z011_Embarked1'],
      dtype='object')

In [14]:
df1.dtypes

PassengerId1      int64
Survived1         int64
Pclass1           int64
Name1            object
Sex1             object
Age1              int64
SibSp1            int64
Parch1            int64
Ticket1          object
Fare1           float64
Cabin1           object
Embarked1        object
dtype: object

In [49]:
#df1_int = list(df1.select_dtypes(include='int'))
#df1_int
df1.z000_PassengerId11 = pd.to_numeric(df1.z000_PassengerId1,downcast='unsigned')
df1.z000_PassengerId11.dtype

C:\Users\Raed\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  This is separate from the ipykernel package so we can avoid doing imports until

dtype('uint8')

In [16]:
df.columns.values.tolist()

['PassengerId1',
 'Survived1',
 'Pclass1',
 'Name1',
 'Sex1',
 'Age1',
 'SibSp1',
 'Parch1',
 'Ticket1',
 'Fare1',
 'Cabin1',
 'Embarked1']

In [50]:
df_obj = df1.select_dtypes(include = 'object').columns.values.tolist()
df_int = df1.select_dtypes(include='int').columns.values.tolist()
for col in df_obj :
    num_unique_values = df1[col].nunique()
    num_total_values = len(df1[col])
    if num_unique_values/num_total_values <0.5:
        df1.loc[:,col] = df1[col].astype('category')
    else:
        df1.loc[:,col] = df1[col]
        
for col in df_int :
    if  df1[col].min() > 0 :
        df1[col] = pd.to_numeric(df1[col],downcast='unsigned')
    else:
        df1[col] = pd.to_numeric(df1[col],downcast='signed')

In [51]:
df1.select_dtypes(include = 'object').columns.values.tolist()

['z003_Name1', 'z008_Ticket1']

In [52]:
def optimize_type(df):
    df_obj = list(df.select_dtypes(include = 'object'))
    
    for col in df_obj:
        num_unique_values = len(df[col].unique())
        num_total_values = len(df[col])
    if num_unique_values/num_total_values <0.5:
        df.loc[:,col] = df[col].astype('category')
    else:
        df.loc[:,col] = df[col]
        
    df_int = df.select_dtypes(include=['int'])
    df = df_int.apply(pd.to_numeric,downcast='unsigned')
    return df

In [53]:
df1

   z000_PassengerId1  z001_Survived1  z002_Pclass1 z003_Name1   z004_Sex1       ...        z007_Parch1  z008_Ticket1  z009_Fare1 z010_Cabin1  z011_Embarked1
0  1                  0               3             Braund, ...    male         ...        0              A/5 21171    7.250       NaN        S
1  2                  1               1             Cumings,...  female         ...        0               PC 17599   71.283       C85        C
2  3                  1               3             Heikkine...  female         ...        0            STON/O2....    7.925       NaN        S
3  4                  1               1             Futrelle...  female         ...        0                 113803   53.100      C123        S
4  5                  0               3             Allen, M...    male         ...        0                 373450    8.050       NaN        S

[5 rows x 12 columns]

In [54]:
df1.dtypes

z000_PassengerId1       int64
z001_Survived1          int64
z002_Pclass1            int64
z003_Name1             object
z004_Sex1            category
z005_Age1               int64
z006_SibSp1             int64
z007_Parch1             int64
z008_Ticket1           object
z009_Fare1            float64
z010_Cabin1          category
z011_Embarked1       category
dtype: object

Ds ce que suit, ns allons travaillons sur les 2 df.  
- **La col 'z4_Sex1' de type maintenant categorical comporte deux modalités (female = 0, male = 1) ; à vérifier ?**  
- **La col 'z11_Embarqued1' de type maintenant categorical comporte trois modalités (C = 0, Q = 1 et S = 2) ; à vérifier ?**
- **Q : Ns ns concentrons sur les cols 'z11_embarqued' et 'z11_embarqued1'. L'idée est de construire 3 variables à partir de cette col : 'embarked_c', 'embarked_q' et 'embarked_s'.**  Evidemment, adapter les noms de ces nouvelles cols (à notre convention). 
embarked_c = 1 si embarqued == 'C', 0 sinon  
embarked_q = 1 si embarqued == 'Q', 0 sinon  
embarked_s = 1 si embarqued == 'S', 0 sinon  
L'ensemble de ces vars sont ce qu'on appelle des dummies (ou var muette, dichotomique) !  
**Q : Utiliser successivement les méthodes suivantes : 'if', 'map', get_dummies (sur les 2df) **
**Q : Peut-t-on convertir systématiquement les cols de type objects en type Categorical ?**

In [55]:
#df.select_dtypes(include = 'object')
#df.select_dtypes(include = 'category')
df4=pd.get_dummies(data=df,columns=df.select_dtypes(include = ['object','category']).columns.values.tolist(),drop_first=False)
df4

   z000_PassengerId1  z001_Survived1  z002_Pclass1  z005_Age1  z006_SibSp1        ...         z008_Ticket1_STON/O2. 3101282  z010_Cabin1_C123  z010_Cabin1_C85  z011_Embarked1_C  z011_Embarked1_S
0  1                  0               3             22         1                  ...         0                              0                 0                0                 1
1  2                  1               1             38         1                  ...         0                              0                 1                1                 0
2  3                  1               3             26         0                  ...         1                              0                 0                0                 1
3  4                  1               1             35         1                  ...         0                              1                 0                0                 1
4  5                  0               3             35         0                  ...         0                              0                 0                0                 1

[5 rows x 23 columns]

In [56]:
type(df.select_dtypes(include = 'object'))

pandas.core.frame.DataFrame